.header-search__text {
    margin-top: 15px;
    font-size: 24px;
    width: 100%;
    height: 50px;
    padding-left: 15px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
}

@media screen and (max-width: 850px) {
    .header-search__text {
        margin-top: 4px;
        font-size: 15px;
        width: 100%;
        height: 50px;
        padding-left: 10px;
        border-radius: 5px;
        border: none;
        box-sizing: border-box;
    }
}

.purchase-page {
    padding: 80px 66px;
}

.purchase-detail {
    display: flex;
    gap: 40px;
}

.page-left {
    width: 60%;
}

.item-header {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 20px;
    padding-bottom: 40px;
    border-bottom: 1px solid #000;
}

.item-image img {
    width: 177.53px;
    height: auto;
    display: block;
}

.item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.item-info__name {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.item-info__price {
    display: flex;
    align-items: baseline;
    gap: 4px;
    font-size: 30px;
}

.payment,
.address {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    border-bottom: 1px solid #000;
}

.payment-title,
.address-title {
    font-size: 20px;
    font-weight: bold;
}

.payment-option {
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 4px;
    border-color: #5F5F5F;
    height: 31px;
    width: 265px;
    font-size: 16px;
    font-weight: bold;
    color: #5F5F5F;
}

.address-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.address-header a {
    font-size: 20px;
    color: #0073CC;
    text-decoration: none;
}

.address-header a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.address-info {
    margin-left: 50px;
}

.page-right {
    width: 40%;
    max-width: 440px;
}

.summary-box {
    border: 1px solid #000;
    margin-bottom: 20px;
}

.summary-box .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-top: 1px solid #000;
    height: 115px;
}

.summary-box .row:first-child {
    border-top: none;
}

.summary-box .left {
    text-align: center;
    flex: 1;
    font-size: 20px;
}

@media screen and (max-width: 850px) {
    .summary-box .left {
        text-align: center;
        flex: 1;
        font-size: 16px;
    }
}

.summary-box .right {
    text-align: center;
    flex: 1;
    font-size: 24px;
}

@media screen and (max-width: 850px) {
    .summary-box .right {
        text-align: center;
        flex: 1;
        font-size: 16px;
    }
}

.buy-btn {
    background-color: #ff5555;
    color: white;
    border: none;
    font-size: 26px;
    font-weight: bold;
    width: 440px;
    height: 60px;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 0;
}

@media screen and (max-width: 850px) {
    .buy-btn {
        background-color: #ff5555;
        color: white;
        border: none;
        font-size: 26px;
        font-weight: bold;
        width: 250px;
        height: 60px;
        border-radius: 5px;
        cursor: pointer;
        margin: 20px 0;
    }
}

.buy-btn:hover {
    background-color: red;
}

.form__error {
    color: #ff0000;
}